@import "_variables.scss";
@import "_common.scss";
@mixin forDesktop {
  @media (min-width: 1024px) {
    .container {
      padding-left: 1%;
      padding-right: 1%;
    }
  }
}
@mixin forTabletPortrait {
  @media (max-width: 840px) {
    .container {
      padding: 0 4%;
    }

    .header__list {
      width: 30%;
    }
    .sectionthree__container {
      padding-left: 10%;
      padding-right: 10%;
    }
    .sectionfive__input {
      max-width: 100%;
    }
    .sectionfive__labeltop {
      margin-bottom: 20px;
    }
    .sectionfive__labelbotton .sectionfive__input {
      height: 80px;
    }

    .sectionthree__container,
    .sectionfive__container {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .footer {
      padding-top: 27px;
      padding-bottom: 27px;
    }
    .sectionone__date {
      right: 8.5%;
    }
  }
}

@mixin forPhone {
  @media (max-width: 535px) {
    .container {
      padding: 0 6%;
    }
    .header {
      overflow: hidden;
      position: relative;
      &__list,
      &__btn {
        transform: translateX(600px);
        width: 0;
      }

      &__menu {
        display: block;
        background-image: url("../imgs/menu.svg");
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 20px;
        top: 17px;
        z-index: 10;
      }

      &__list,
      &__btn {
        transition: all 0.3s;
      }

      &__listactive {
        transform: translateX(0);
        width: 100%;
        flex-direction: column;
        position: absolute;
        padding: 30px;
        top: 0;
        left: 0;
        right: 0;
        padding-bottom: 100px;
      }
      &__list .choices__list.choices__list--dropdown {
        width: 100%;
      }

      &__btnctive {
        transform: translateX(0);
        position: absolute;
        width: 100%;
        top: 220px;
        left: 30px;
      }

      &__list .choices__inner {
        font-size: 12px;
      }

      &__container {
        margin-bottom: 0;
        height: 75px;
        padding-top: 5px;
      }
      &__containeractive {
        padding-top: 5px;
        height: 300px;
        margin-bottom: 0;
      }
      &__img {
        max-width: 110%;
        width: 110%;
      }
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted,
    .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
      padding: 5px;
      font-size: 11px;
    }

    .sectionone {
      &__date {
        display: none;
      }
      &__mobil {
        display: block;
        font-size: 14px;
        line-height: 20px;
        max-width: 90%;
        margin-bottom: 24px;
      }
      &__img {
        position: relative;
        padding-bottom: 10px;
        &::after,
        &::before {
          @include posAbsolute;
          top: auto;
          border-bottom: 4px solid $color1;
          bottom: -4px;
          width: 70px;
          height: 4px;
        }
        &::before {
          width: 90%;
          border-bottom: 4px solid $color5;
        }
      }
      &__container {
        margin-bottom: 63px;
      }
      &__text {
        display: none;
      }
      &__img {
        margin-bottom: 0;
      }
      &__container {
        padding-right: 0;
      }
      &__title {
        font-size: 35px;
        margin-bottom: 5px;
      }
    }

    .titletwo {
      font-size: 22px;
    }
    .sectiontwo {
      &__container {
        flex-direction: column;
      }
      &__title {
        margin-bottom: 19px;
      }
      &__text {
        font-size: 18px;
        max-width: 95%;
      }

      &__span {
        padding-top: 12px;
      }
      &__container {
        margin-bottom: 48px;
      }
      &__img {
        margin-bottom: 15px;
      }
    }

    .sectionthree {
      &__img {
        margin-bottom: 12px;
      }
      &__link {
        font-size: 13px;
      }
      &__container {
        padding-bottom: 45px;
        margin-bottom: 30px;
      }
    }

    .sectionfour {
      &__title {
        margin-bottom: 6px;
      }
      &__text {
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.2px;
      }
      &__container {
        margin-bottom: 48px;
      }
      &__title {
        margin-bottom: 10px;
      }
    }



    .titlefooter {
      font-size: 29px;
    }
    .sectionfive {
      padding-top: 22px;
    }
    .sectionfive__title {
      max-width: 87%;
      line-height: 33px;
      margin-bottom: 27px;
    }
    .formtext {
      font-size: 14px;
      margin-bottom: 12px;
    }
    .sectionfive__starcontainer {
      margin-bottom: 30px;
    }

    .sectionfive__labeltop,
    .sectionfive .choices__inner,
    .sectionfive .choices {
      width: 100%;
      margin-right: 0;
    }

    .sectionfive__labeltop {
      margin-bottom: 16px;
    }

    .sectionfive__labelbotton {
      height: 200px;
    }
    .sectionfive__btn {
      max-width: 100%;
    }
    .sectionfive__container {
      padding-bottom: 48px;
    }
    .footer {
      overflow: hidden;
      margin-bottom: 70px;
      &__title {
        margin-bottom: 17px;
      }
      &__swippertext {
        margin-bottom: 44px;
      }
    }


    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      vertical-align: middle;
    }
    .swiper-pagination-bullet-active {
      background-color: $color1;
      width: 15px;
      height: 15px;
    }
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
      margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 13px);
    }
  }
}
