

//общие значения


 $color1: #2D1AA7;
 $color2: #FFFFFF;
 $color3: #202326;
 $color4: #F8F8FA;
 $color5: #ECECF3;
 $color6:  #777777;
 $color7:   #F1F1F3;
 $color8:   #D7D7E2;
 $color9:    #FFB400;



