@import "_common.scss";
@import "_breakpoints.scss";

@font-face {
  font-family: "Onest";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local("Onest"),
    url("../fonts/onest-semibold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Onest";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local("Onest"),
    url("../fonts/onest-semibold-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Onest";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local("Onest"),
    url("../fonts/onestmedium1602-hint-webfont.woff") format("woff");
}
@font-face {
  font-family: "Onest";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local("Onest"),
    url("../fonts/onestmedium1602-hint-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Onest";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("Onest"),
    url("../fonts/onestregular1602-hint-webfont.woff") format("woff");
}
@font-face {
  font-family: "Onest";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("Onest"),
    url("../fonts/onestregular1602-hint-webfont.woff2") format("woff2");
}

.sectionone__swiperslide {
  width: 300px;
  height: 300px;
  background-color: red;
}

// звезда
.stars {
  text-align: center;
  padding-top: 7px;
}

.star {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  background: $color8;
  position: relative;
  margin-right: 10px;
}
.star {
  -webkit-clip-path: polygon(
    50% 0%,
    66% 27%,
    98% 35%,
    76% 57%,
    79% 91%,
    50% 78%,
    21% 91%,
    24% 57%,
    2% 35%,
    32% 27%
  );
  clip-path: polygon(
    50% 0%,
    66% 27%,
    98% 35%,
    76% 57%,
    79% 91%,
    50% 78%,
    21% 91%,
    24% 57%,
    2% 35%,
    32% 27%
  );
}

.star:hover {
  background: $color9;
  cursor: pointer;
}

.staractive {
  background-color: $color9;
}


// модалка
.modal {
  display: none;
  position: fixed;
  transition: all .3s;
  // width: 100vw;
  // height: 100vh;
  width: 100%;
    height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(32, 35, 38, 0.70);
  z-index: 1000;
  display: none;
  opacity: 0;
  transform: translateY(-300px);
  transition-property: opacity, transform;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;

  &__active {
    opacity: 1;
    display: block;
    transform: translateY(0);
  }

  &__container {
    display: flex;
  align-content: center;
  flex-wrap: wrap;
  height: 100%;
  }
  &__btnclose {
    background-image: url('../imgs/close.svg');
@include posAbsolute;
width: 20px;
    height: 20px;
    right: 13px;
    top: 13px;
    left: auto;
  }
  &__subcontainer {
   width: 380px;
    margin: 0 auto;
    background-color: $color2;
    position: relative;
    padding: 17px 26px;
    border-radius: 12px;
  }
  &__title {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 8px;
  }
  &__text {
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 30px;
  }
  &__form  {
    flex-direction: column;
  }

  &__label {
    width: 100%;
    box-shadow: 0px 18px 60px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid #EDEDF1;
    margin-bottom: 12px;
    max-height: 50px;
  }
  &__termsofuse {
    font-size: 10px;
    line-height: 160%;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;

  }

  &__link {
    columns: $color1;
  }

  &__btn {
    margin-bottom: 60px;
    line-height: 30px;
  }


}


.header {

  &__menu {
    display: none;
  }
  &__container {
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 140px;
  }

  &__img {
    vertical-align: middle;
    margin-top: 12px;
  }

  &__btn {
    max-width: 145px;
    max-height: 40px;
  }
  &__list {
    .choices__inner {
      border: none;
      background-color: inherit;
      font-weight: 500;
      min-height: 20px;
    }
    .choices__list--single {
      padding-right: 20px;
      padding-top: 10px;
    }
    .choices[data-type*="select-one"]::after {
      border: none;
      background: none;
      background-image: url("../imgs/checkmark.svg");
      width: 8px;
      height: 6px;
      right: 5px;
      top: 55%;
    }
    .choices[data-type*="select-one"] .choices__inner {
      padding: 0;
    }

    .is-focused.choices[data-type*="select-one"]::after {
      margin-top: 0px;
      transition: all 0.3s;
      transform: rotate(180deg);
      background-image: url("../imgs/checkmarkactive.svg");
    }
    .is-focused {
      color: $color1;
    }
    .choices__list.choices__list--dropdown {
      width: 197px;
      border: none;
      border-radius: 6px;
    }
    .choices__list--dropdown .choices__item,
    .choices__list[aria-expanded] .choices__item {
      color: $color3;
      font-size: 13px;
      font-weight: 400;
    }
    .choices__list--dropdown .choices__item--selectable.is-highlighted::after,
    .choices__list[aria-expanded]
      .choices__item--selectable.is-highlighted::after,
    .choices[data-type*="select-one"] .choices__input {
      display: none;
    }

    .choices__item {
      white-space: nowrap;
    }
  }

  &__link {
    max-height: 13px;
    margin-right: calc(45% - 278px);
  }
  &__list {
    width: 47%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__mobil {
    display: none;
  }
}

.sectionone {

  &__subcontainer {
    position: relative;
  }
  &__imgs {
    margin-bottom: 17px;
  }
  &__img {
     position: relative;
  &::after {
    @include posAbsolute;
    background-image: url('../imgs/arrowback.svg');
    width: 18px;
    height: 18px;
    top: auto;
    bottom: 17px;
    left: 10%;
  }
  }

  &__mobil {
    display: none;
  }
  &__title {
    font-size: 52px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -1.04px;
    margin-bottom: 34px;
  }
  &__container {
    position: relative;
    margin-bottom: 20px;
  }

  &__date {
    @include posAbsolute;
    right: 2%;
    left: auto;
    top: 15px;
    width: 109px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 18px;
  }
  &__containerspan {
    text-align: center;
    font-weight: 500;
    line-height: 25px;
  }
  &__namber {
    font-size: 24px;
    width: 100%;
    display: block;
    padding-top: 24px;
    position: relative;
    margin-bottom: 4px;
    &::before {
      content: "";
      @include posAbsolute;
      background-image: url("../imgs/arrow.svg");
      background-repeat: no-repeat;
      width: 10px;
      height: 10px;
      bottom: 7px;
      top: auto;
      right: 26px;
      left: auto;
    }
  }

  &__dayoftheweek {
    font-size: 16px;
    width: 100%;
    display: block;
  }
  &__img {
    margin-bottom: 14px;
  }
  &__text {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2px;
    padding-bottom: 80px;
    border-bottom: $color5 2px solid;
  }
}
.sectiontwo {
  &__title {
    margin-bottom: 35px;
  }
  &__img {
    max-width: 38px;
    margin-right: 20px;
  }

  &__container {
    flex-direction: row;
    margin-bottom: 60px;
  }
  &__text {
    font-size: 22px;
    line-height: 140%;
    margin-bottom: 20px;
  }
  &__span {
    display: block;
    padding-top: 20px;
    color: $color6;
    font-size: 16px;
  }
}
.sectionthree {
  background-color: $color7;
  &__container {
    padding-top: 60px;
    padding-left: 208px;
    padding-right: 208px;
    margin-bottom: 50px;
    padding-bottom: 72px;
  }

  &__link {
    font-size: 10px;
    font-weight: 500;
    line-height: 18px;
  }
  &__links {
    color: $color1;
    text-decoration-line: underline;
    letter-spacing: -0.2px;
  }

  &__img {
    margin-bottom: 5px;
  }
}
.sectionfour {
  &__container {
    margin-bottom: 80px;
  }
  &__title {
    margin-bottom: 15px;
  }
  &__text {
    line-height: 26px;
    letter-spacing: 0.1px;
    font-size: 13px;
  }
}

.sectionfive {
  background-color:  $color7;
  &__container {
    padding-top: 51px;
    padding-bottom: 88px;
  }

  &__title {
    margin-bottom: 35px;
  }

  &__starcontainer {
    justify-content: flex-start;
    margin-bottom: 35px;
  }

  &__namberstar {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    margin-right: 10px;
  }



  &__inputactive {
    opacity: 1;
  }

  &__form {
    flex-wrap: wrap;

  }
  .choices {
    width: 32%;
  }
  .choices__inner {
    padding-top: 8px;
    padding-left: 15px;
    padding-bottom: 18px;
    border: none;
    background-color: $color2;
    width: 100%;
    border-radius: 10px;
  }
  .choices[data-type*="select-one"]::after {
    border: none;
    background: none;
    background-image: url("../imgs/checkmarkactive.svg");
    transform: rotate(180deg);

    width: 8px;
    height: 6px;
    right: 10px;
    top: 50%;
  }
  .choices__list--dropdown .choices__item--selectable.is-highlighted::after,
  .choices__list[aria-expanded]
    .choices__item--selectable.is-highlighted::after,
  .choices[data-type*="select-one"] .choices__input {
    display: none;
  }
  .is-focused.choices[data-type*="select-one"]::after {
    margin-top: 0px;
    transition: all 0.3s;
    transform: rotate(180deg);
    background-image: url("../imgs/checkmark.svg");
  }
  .choices {
    margin-bottom: 17px;
  }
  .is-open::after {
    margin: 0;
  }
  .is-open {
    border: 1px solid $color1;
    border-radius: 10px;
  }
  .choices__list {
    border: none;
    border-radius: 10px;
  }
  .choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    border-left: 7px solid  $color1;
  }
  .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 0;
  }
  &__labelbotton {
    width: 100%;
    height: 142px;
    background-color: $color2;
    padding-left: 15px;
    margin-bottom: 24px;
    border-radius: 10px;
    .sectionfive__inputactive {
      padding-top: 17px;
    padding-left: 0px;
    }
    .sectionfive__input {
      width: 100%;
      height: 100px;
      padding-top: 17px;
      &::placeholder {
        transform: translateY(-70px) translateY(50%);
      }
    }
  }

  &__btn {
    max-width: 133px;
    padding: 17px;

  }

}
.footer {

  &__container {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  &__title {
margin-bottom: 32px;
  }

  &__swiperwrapper {
    justify-content: space-between;
  }
  &__swipperimg {
    border-radius: 10px;
    margin-bottom: 7px;
  }
  &__swipperspan {
    font-size: 12px;
    line-height: 16px;
    color: $color6;
    display: block;
    margin-bottom: 7px;
  }
  &__swippertext {
    font-size: 16px;
    font-weight: 500;
    color:  $color3;
    max-width: 90%;
  }
}
@include forDesktop;
@include forTabletPortrait;
@include forPhone;
